<!DOCTYPE html>
<html>

<head>
  {{ $css := resources.Match "*.css.tpl" | resources.Concat "index.css" | resources.ExecuteAsTemplate "index.css" . | resources.Minify }}
  <link rel="stylesheet" type="text/css" href="{{$css.Permalink}}">
  {{with (default site.Title .Page.Title)}}<title>{{.}}</title>{{end}}
  {{with .Page.Description}}
  <meta name="description" content="{{.}}" />{{end}}
  {{$netlify := "false"}}
  {{if getenv "NETLIFY" }}
  {{ $netlify = "true" }}
  {{end}}
  {{ $defines := dict "REMOVE_FORM_ON_SUBMISSION" (default "false" (site.Param "RemoveFormOnSubmission")) "BASE_URL" (print "\"" site.BaseURL "\"" ) "NETLIFY" $netlify}}
  {{ $js := resources.Get "index.js" | js.Build (dict "defines" $defines "minify" (not site.IsServer))}}
<script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
{{ $logo := resources.GetMatch "image/logo.svg.tpl" | resources.ExecuteAsTemplate "logo.svg" . }}
{{ $background := resources.GetMatch "image/background.svg.tpl" | resources.ExecuteAsTemplate "background.svg" . }}
  {{$params := dict "pages" (slice "/" "/offline" $css.RelPermalink $js.RelPermalink $logo.RelPermalink $background.RelPermalink)}}
  {{ $js := resources.Get "serviceWorker.js" | js.Build (dict "params" $params "minify" (not site.IsServer))}}
  <!-- {{- $js.RelPermalink -}} -->
  {{$manifest := (dict "name" (default site.Home.Title site.Title) "display" "minimal-ui" "icons" (slice (dict "src" $logo.RelPermalink "type" "image/svg+xml" "sizes" "155x155")) )}}
  {{ $manifestFile := $manifest | jsonify | resources.FromString "/manifest.webmanifest" }}
  <link rel="manifest" href="{{$manifestFile.RelPermalink}}">
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
</head>

<body class="{{block "bodyClass" .}}page{{end}}">
  {{block "header" .}}
    {{$hasCart := (default false ($.Param "cart"))}}
  {{ partialCached "header.html" (dict "cart" $hasCart) $hasCart }}
  {{ end }}
  {{block "body" .}}
    <section>
      <main>
        {{with .Page.Title}}<h1>{{.}}</h1>{{end}}
        {{if .Param "toc"}}
        <h2>Table of Contents</h2>
        {{.TableOfContents}}
        {{end}}
        {{.Content}}
        {{ partial "comment.html" (dict "FormspreeCommentForm" ($.Param "FormspreeCommentForm") "RelPermalink" .Page.RelPermalink "Disabled" ($.Param "CommentDisabled")) }}
      </main>
    </section>
  {{end}}
  {{if site.IsServer}}
    {{- partial "debug/debug.html" (dict "context" .) -}}
  {{end}}
  {{block "footer" .}}
  <footer>
    {{ partialCached "menu.html" (dict "Menu" site.Menus.footer  "RenderSubmenus" false) "footer" "false"}}
    <br>
    {{ with .OutputFormats.Get "Plain" }}<a href="{{ .RelPermalink }}" target="_blank">Plain Text</a>{{ end }}
    {{ with .OutputFormats.Get "RSS" }}<a href="{{ .RelPermalink }}" target="_blank">RSS</a>{{ end }}
    {{ if .IsTranslated }}
<ul>
    {{ range .Translations }}
    <li>
        <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}</a>
    </li>
    {{ end }}
</ul>
<br>
{{ end }}
    {{.Param "copyright" | markdownify}}
  </footer>
  {{ end }}
</body>

</html>
